@import "../../../../assets/styles/Colors.scss";
@import "../../../../assets/styles/Fonts.scss";

.three-key-figures {
  display: flex;
  justify-content: space-between;
  margin: 0 104px;
  padding: 64px 104px;
  background-color: $dark-blue-color;

  &__block {
    color: white;
    &__number {
      font-size: 72px;
    }

    &__text {
      text-align: center;
      margin-top: 24px;
    }
  }
}
