@use "../../../../assets/styles/mixins/breakpoints.scss";
@use "../../../../assets/styles/Colors.scss" as colors;

.page-introduction {
  text-align: center;
  margin: 40px 104px 80px 104px;

  @include breakpoints.respond-to-extra-large {
    margin: 24px 40px 64px 40px;
  }

  @include breakpoints.respond-to-medium {
    margin: 0 16px 40px 16px;
  }
}
