@use "../../../../assets/styles/Colors.scss" as colors;

.presentation-section {
  display: flex;
  align-items: center;
  gap: 104px;
  margin: 124px 176px 0 176px;

  &__image {
    background-color: black;
    width: 440px;
    height: 600px;
  }

  &__texts {
    display: flex;
    flex-direction: column;
    gap: 48px;

    // &__title {
    //   color: colors.$khaki-color;
    // }
  }
}
