@import "../../../../assets/styles/Colors.scss";

.image-and-text-section {
  display: flex;
  align-items: center;
  gap: 104px;
  margin: 124px 176px 0 176px;

  &__image {
    background-color: black;
    width: 440px;
    height: 600px;
    object-fit: cover;
  }

  &__texts {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
}

.no-margin-left {
  margin: 64px 104px 0 104px;
  flex-direction: row-reverse;
}

.no-margin-right {
  margin: 64px 104px 0 104px;
}
