@import "../../../../assets/styles/Colors.scss";

.image-and-text-section {
  display: flex;
  align-items: center;
  gap: 104px;
  margin: 124px 176px 0 176px;

  &__image {
    background-color: black;
    width: 440px;
    height: 600px;
  }

  &__texts {
    display: flex;
    flex-direction: column;
    gap: 48px;

    &__title {
      color: $khaki-color;
    }
  }
}

.no-margin-left {
  margin: 124px 120px 0 0;
  flex-direction: row-reverse;
}

.no-margin-right {
  margin: 124px 0 0 120px;
}
