@use "../../../../assets/styles/Colors.scss" as colors;

.secondary-button {
  border: 1px solid colors.$dark-blue-color;
  color: colors.$dark-blue-color;
  padding: 16px 12px;
  font-weight: var(--weight-medium);
  align-self: flex-end;
}
