@import "../../../../assets/styles/Colors.scss";
@import "../../../../assets/styles/Fonts.scss";

.quote-section {
  height: 360px;
  background-color: $grey-color;
  margin: 96px 104px 0 104px;
  padding: 96px 104px;
  color: white;
  text-align: center;

  &__paragraph {
    display: flex;
    align-items: center;
    height: 100%;
  }
}
