@import "../../../../assets/styles/Colors.scss";
@import "../../../../assets/styles/Fonts.scss";

.quote-section {
  height: 360px;
  background-color: $grey-color;
  margin-top: 124px;
  padding: 124px 120px;
  color: white;
  text-align: center;

  &__paragraph {
    display: flex;
    align-items: center;

    height: 100%;
  }
}
