@use "../../../../assets/styles/Colors.scss" as colors;
@use "../../../../assets/styles/Fonts.scss";

.quote-section {
  background-color: colors.$grey-color;
  margin: 64px 104px 0 104px;
  padding: 40px 104px;
  color: white;
  text-align: center;

  &__paragraph {
    display: flex;
    align-items: center;
  }
}
