@use "../../../assets/styles/Colors.scss";

.introduction {
  color: colors.$ochre-color;
  margin: 0 104px;
  width: -webkit-fill-available;
  text-align: center;

  &__title {
    font-size: 40px;
  }

  &__profession {
    font-size: 32px;
  }
}
