@use "../../../../assets/styles/Colors.scss";
@import "../../../../assets/styles/Fonts.scss";

.text-block {
  background-color: colors.$ochre-color;
  color: white;
  padding: 40px;
  border-radius: 4px;

  &__title {
    color: white;
  }
}
