@import "../../../../assets/styles/Colors.scss";
@import "../../../../assets/styles/Fonts.scss";

.text-block {
  &__title {
    color: $khaki-color;
    margin-bottom: 16px;
    font-size: 24px;
  }
}
