@use "../../../../assets/styles/mixins/breakpoints.scss";
@use "../../../../assets/styles/Colors.scss" as colors;

.button {
  // background-color: colors.$dark-blue-color;
  // color: colors.$white-color;
  background-color: colors.$blue-color;
  color: colors.$black-color;
  padding: 16px 12px;
  font-weight: var(--weight-medium);

  &--margin-top-version {
    display: block;
    width: fit-content;
    margin: 32px auto 80px auto;

    @include breakpoints.respond-to-extra-large {
      margin: 32px auto 64px auto;
    }

    @include breakpoints.respond-to-medium {
      margin: 32px auto 48px auto;
    }
  }
}
