@use "../../../../assets/styles/mixins/breakpoints.scss";
@use "../../../../assets/styles/Colors.scss" as colors;

.button {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  text-decoration: none;
  background-color: colors.$blue-color;
  color: white;
  padding: 12px 24px;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  cursor: pointer;

  // &:hover {
  //   background-color: white;
  //   color: colors.$blue-color;
  // }

  &--center-version {
    margin: auto;
  }
}

.margin-top-version {
  margin-top: 56px;

  @include breakpoints.respond-to-medium {
    margin-top: 32px;
  }
}

.button-mobile-version {
  @include breakpoints.respond-to-small {
    display: none;
  }
}

.button-with-no-margin {
  margin: 0;
}
