// $ochre-color: #d6ac67;
// $dark-blue-color: #609cad;
// $blue-color: #87b4c1;
// $dark-khaki-color: #646d62;
// $khaki-color: #818b7e;
// // $grey-color: #bdc6c7;
// $grey-color: #a8b4b5;

$black-color: #0e181b;
$white-color: #fffdfb;
$dark-blue-color: #30545f;
$blue-color: #afcdd5;
// $blue-color: #aecdd6;
$light-blue-color: #d7e6ea;
$green-color: #a0a89f;
$light-green-color: #cacfc9;
$ochre-color: #e1c18e;
$light-ochre-color: #e9d4af;
