@import "./Fonts.scss";

body {
  font-family: "Lato";
  font-weight: 300;
}

h1,
h2,
h3 {
  font-family: "Playfair Display";
  font-weight: 400;
}

.content-below-image {
  margin-top: 100vh;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}
